{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "no-console": 0,

        "dot-notation": "warn",
        "eqeqeq": ["warn", "always"],
        "no-lonely-if": "warn",
        "no-unused-vars": "warn",

        "curly": ["error", "all"],
        "for-direction": "error",
        "no-array-constructor": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-floating-decimal": "error",
        "no-implied-eval": "error",
        "no-new-object": "error",
        "no-new-wrappers": "error",
        "no-self-compare": "error",
        "no-undef-init": "error",
        "no-undefined": "error",
        "no-unmodified-loop-condition": "error",
        "semi": ["error", "always"]
    }
}